@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body div#root {
  height: 100%;
}

body div#root header nav {
  height: 89.2px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: #e7e6e6;
  color: #1c1c1c;

  text-transform: uppercase;
  padding: 34px;
}

body div#root header nav div {
  height: 89.2px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e7e6e6;
  margin-left: 100px;
}

body div#root header nav div h1 {
  color: #1c1c1c;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body div#root header nav ul {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 50px;
  margin-left: 600px;
  list-style: none;
  width: 50%;
  color: #1c1c1c;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 400;
}

body div#root header nav ul li {
  cursor: pointer;
}

body div#root header nav ul li a {
  text-decoration: none;
  color: #1c1c1c;
}
body div#root header nav ul li a:hover {
  text-decoration: none;
  color: #d3ccc4;
}

body div#root header nav ul li:hover {
  color: #d3ccc4;
}

body div#root main.landing {
  background-color: #d3ccc4;
  height: calc(100% - 89.2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body div#root main.landing {
  text-align: center;
}

body div#root main.landing h1 {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 400;

  animation: fadeIn 2.5s ease-in-out;
}

body div#root main.landing p {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 400;
  margin-top: 10px;

  animation: fadeIn 2.5s ease-in-out;
}

body div#root main.proyectos {
  background-color: #d3ccc4;
  height: calc(100% - 89.2px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body div#root main.proyectos section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #e7e6e6;
  animation: fadeIn 1.5s ease-in-out;
}

body div#root main.proyectos section div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body div#root main.proyectos section div.titles {
  letter-spacing: 2px;
  display: flex;
  width: 80%;
  align-items: end;
}

body div#root main.proyectos section div.titles h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

body div#root main.proyectos section div img {
  margin-bottom: 30px;
  width: 80%;
  height: 80%;
  cursor: pointer;
}

body div#root main.contact {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: #d3ccc4;
}

body div#root main.contact div.contact-info {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  cursor: auto;

  p {
    margin: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: whitesmoke;
  }
}

body div#root main.contact div img {
  display: flex;

  height: 500px;
  margin: 0 auto;
}
